<div class="container">
	
	<table class="table table-bordered">
      <tr>
        <th>Color</th>
        <th>IF</th>
        <th>VVS1</th>
        <th>VVS2</th>
        <th>VS1</th>
        <th>VS2</th>
        <th>SI1</th>
        <th>SI2</th>
      </tr>
    
        <tr>
          <td>D</td>
          <td><%= @D_IF_price%></td>
          <td><%= @D_VVS1_price %></td>
          <td><%= @D_VVS2_price %></td>
          <td><%= @D_VS1_price %></td>
          <td><%= @D_VS2_price %></td>
          <td><%= @D_SI1_price %></td>
          <td><%= @D_SI2_price %></td>
        </tr>

        <tr>
          <td>E</td>
          <td><%= @E_IF_price%></td>
          <td><%= @E_VVS1_price %></td>
          <td><%= @E_VVS2_price %></td>
          <td><%= @E_VS1_price %></td>
          <td><%= @E_VS2_price %></td>
          <td><%= @E_SI1_price %></td>
          <td><%= @E_SI2_price %></td>
        </tr>

        <tr>
          <td>F</td>
          <td><%= @F_IF_price%></td>
          <td><%= @F_VVS1_price %></td>
          <td><%= @F_VVS2_price %></td>
          <td><%= @F_VS1_price %></td>
          <td><%= @F_VS2_price %></td>
          <td><%= @F_SI1_price %></td>
          <td><%= @F_SI2_price %></td>
        </tr>

        <tr>
          <td>G</td>
          <td><%= @G_IF_price%></td>
          <td><%= @G_VVS1_price %></td>
          <td><%= @G_VVS2_price %></td>
          <td><%= @G_VS1_price %></td>
          <td><%= @G_VS2_price %></td>
          <td><%= @G_SI1_price %></td>
          <td><%= @G_SI2_price %></td>
        </tr>

        <tr>
          <td>H</td>
          <td><%= @H_IF_price%></td>
          <td><%= @H_VVS1_price %></td>
          <td><%= @H_VVS2_price %></td>
          <td><%= @H_VS1_price %></td>
          <td><%= @H_VS2_price %></td>
          <td><%= @H_SI1_price %></td>
          <td><%= @H_SI2_price %></td>
        </tr>

        <tr>
          <td>I</td>
          <td><%= @I_IF_price%></td>
          <td><%= @I_VVS1_price %></td>
          <td><%= @I_VVS2_price %></td>
          <td><%= @I_VS1_price %></td>
          <td><%= @I_VS2_price %></td>
          <td><%= @I_SI1_price %></td>
          <td><%= @I_SI2_price %></td>
        </tr>

        <tr>
          <td>J</td>
          <td><%= @J_IF_price%></td>
          <td><%= @J_VVS1_price %></td>
          <td><%= @J_VVS2_price %></td>
          <td><%= @J_VS1_price %></td>
          <td><%= @J_VS2_price %></td>
          <td><%= @J_SI1_price %></td>
          <td><%= @J_SI2_price %></td>
        </tr>

        <tr>
          <td>K</td>
          <td><%= @K_IF_price%></td>
          <td><%= @K_VVS1_price %></td>
          <td><%= @K_VVS2_price %></td>
          <td><%= @K_VS1_price %></td>
          <td><%= @K_VS2_price %></td>
          <td><%= @K_SI1_price %></td>
          <td><%= @K_SI2_price %></td>
        </tr>

        <tr>
          <td>L</td>
          <td><%= @L_IF_price%></td>
          <td><%= @L_VVS1_price %></td>
          <td><%= @L_VVS2_price %></td>
          <td><%= @L_VS1_price %></td>
          <td><%= @L_VS2_price %></td>
          <td><%= @L_SI1_price %></td>
          <td><%= @L_SI2_price %></td>
        </tr>

        <tr>
          <td>M</td>
          <td><%= @M_IF_price%></td>
          <td><%= @M_VVS1_price %></td>
          <td><%= @M_VVS2_price %></td>
          <td><%= @M_VS1_price %></td>
          <td><%= @M_VS2_price %></td>
          <td><%= @M_SI1_price %></td>
          <td><%= @M_SI2_price %></td>
        </tr>

    </table>




</div>